*{
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/*           Fonte Utilizada         */
/* font-family: 'Inter', sans-serif; */

:root{
    --cor-texto: #656464;
    --cor-1: #0A093D;
    --cor-2: #217BF4;
    --cor-3: #2F2C4A;
    --cor-4: #8C8C8C;
    --cor-5: #171648;
    --cor-6: #ffffff;
    --cor-7: #F6F6F6;
}

/*          Header          */

/*          Home          */

/*          Sobre Nos          */
.container-geral{
    display: flex;
    margin: 150px;
}


.container-textos{
    margin: auto;
}

.imagens{
    margin: auto;
    align-items: center;
    justify-content: center;
    display: flex;
}

.img3{
    margin: 25px;
}

.img2{
    margin-bottom: 15px;
}

#whats{
    font-family: 'Inter', sans-serif;
    margin-bottom: 10px;
    font-size: 18px;
    color: #217BF4;
}

#why{
    font-family: 'Inter', sans-serif;
    margin-bottom: 16px;
    font-size: 36px;
    font-style: bold;
}

#recent{
    font-family: 'Inter', sans-serif;
    margin-bottom: 36px;
    font-size: 16px;
}

.bolinhas{
    font-family: 'Inter', sans-serif;
    font-size: 18px;
}

.bolinhas p{
    margin-bottom: 16px;
}


/*          Avaliações          */

/*          Comunidade          */

/*          Membros          */

/*          Publicidade          */

/*          Ultimas Noticias          */

/*          Header          */